<div class="container">
    <div class="card m-4">
      <div class="card-header">Signin</div>
      <div class="card-body">
        <form method="post" action="/users/create-session">

          <div class="mb-3">
            <label for="emailaddress" class="form-label">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="emailaddress"
              aria-describedby="emailHelp"
            />

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
